.dashboard {
  margin: 80px 0 0 0;
  display: flex;
  justify-content: center;

  &__body {
    width: 800px;
  }

  .boards-group {
    margin: 0 0 30px 0;

    &__header {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 8px 0;
    }
    &__icon {
      width: 18px;
      height: 18px;
      margin: 0 8px;
    }
    &__title {
      margin: 3px 8px 0;
      font-weight: 700;
    }

    &__boards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
    &__board {
      height: 80px;
      border-radius: 3px;
    }

    .board {
      padding: 8px;

      &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__header {}
      &__title {
        font-weight: 700;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }

      &__footer {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
      }
      &__add-to-favorites {
        width: 14px;
        height: 14px;
        transform: translateX(15px);
        filter: invert(100%) sepia(15%) saturate(737%) hue-rotate(177deg) brightness(100%) contrast(95%);
        transition: all .2s;
      }
      &__add-to-favorites:hover {
        width: 16px;
        height: 16px;
        filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(64deg) brightness(104%) contrast(102%);
      }

      &-favourite {
        .board__add-to-favorites {
          transform: translateX(0);
          filter: invert(72%) sepia(16%) saturate(4089%) hue-rotate(13deg) brightness(110%) contrast(106%);
        }
      }

      &:hover {
        .board__add-to-favorites {
          transform: translateX(0px);
        }
      }
    }

    .create-board {
      display: flex;
      justify-content: center;
      align-items: center;

      &__title {
        font-size: 14px;
      }
    }
  }
}
