{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "linebreak-style": "off",
    "strict": "off",
    "semi": "off",
    "max-len": "off",
    "require-jsdoc": "off",
    "new-cap": "off",
    "no-invalid-this": "off",
    "no-unused-vars": "warn",
    "no-undef": "warn"
  }
}