
.modal {}

.modal-overlay,
.modal-container {
    opacity: 0;
    z-index: -1;
}

.modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .5s;
}

.modal-container {
  background-color: #fff;
}
.modal.open .modal-overlay,
.modal.open .modal-container {
    opacity: 1;
    z-index: 1000;
}
.modal.open .modal-overlay {
    background-color: rgba(0, 0, 0, .5);
}
.modal.open .modal-container {
    transform: translateY(0px);
}
.modal.hiding .modal-overlay,
.modal.hiding .modal-container {
    opacity: 1;
    z-index: 1000;
}

.modal-btn {
  height: 32px;
  margin: 8px 0 0;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  outline: none;
  text-align: left;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
}



/* Card modal */

.card-modal .modal-container {
  width: 600px;
  margin: 50px 0 80px;
  padding: 10px;
  border-radius: 10px;
  transform: translateY(-600px);
  transition: transform .5s;
}
.card-modal .modal-header {
  padding-bottom: 10px;
}
.card-modal .modal-title {
  width: 100%;
  margin-right: 5px;
  font-size: 1.25rem;
  font-weight: 600;
}
.card-modal .modal-close {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s;
}
.card-modal .modal-close:hover {
  background-color: rgb(235, 233, 233);
}

.card-modal .modal-body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 10px;
}
.card-modal .modal-col {}
.card-modal .modal-col-left {
  margin-right: 20px;
}
.modal-desc-title,
.checklist-title {
  font-size: 16px;
  font-weight: bold;
  margin: 6px 0;
}
.modal-desc-block {
  margin-bottom: 20px;
}
.modal-desc-title {
  margin-bottom: 20px;
}
.modal-description {
  width: 100%;
  min-height: 56px;
  padding: 8px 12px;
  resize: none;
  overflow: hidden;
  background-color: rgba(9,30,66,.04);
}
.modal-description:focus {
  overflow-wrap: break-word;
  min-height: 108px;
}
.modal-desc-btns {
  display: none;
}
.modal-desc-btns button {
  margin-top: 4px;
}
.modal-desc-btns button:nth-child(2) {
  margin-left: 10px;
}

.checklist-block {}
.checklist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checklist-title {
  width: 100%;
  resize: none;
  font-weight: bold;
  padding: 4px 0;
}
.checklist-title:focus {
  padding: 4px 8px;
}
.del-checklist-btn {
  width: 75px;
  margin: 0 0 0 10px;
}
.checklist-body {}
.checklist-progress {}
.checklist-list-container {}
.checklist-list {
  list-style-type: none;
  padding: 0;
}
.checklist-item {
  margin-bottom: 10px;
}
.checklist-item-container {
  display: flex;
  align-items: flex-start;
}
.checklist-item-container>input {
  margin: 6.4px 10px 0 0;
}
.checklist-item-title {
  flex-grow: 1;
  overflow: hidden;
  resize: none;
}
.checklist-item-title:hover {
  background-color: rgba(9,30,66,.08);
}
.checklist-item-title:focus {
  background-color: #fff;
}
.checklist-item-btns {
  margin-left: 26.7px;
}

.checklist-footer {
  width: auto;
}
.checklist-add-form {
  display: none;
}
.checklist-add-input {
  width: 100%;
  min-height: 56px;
  padding: 8px 12px;
  resize: none;
  overflow: hidden;
}
.checklist-add-form-btns {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.checklist-add-form-btns button {
  margin-top: 0;
}
.checklist-add-form-btns button:nth-child(2) {
  margin-left: 10px;
}

.checklist-add-item-btn {}


.modal-col-right {}
.modal-col-right .modal-btn {
  width: 100%;
}
.modal-add-title,
.modal-actions-title {
  text-transform: uppercase;
  font-size: 13px;
  color: #5e6c84;
}
.modal-add-block {
  margin-bottom: 20px;
}
.modal-add-title {}
.modal-mark-btn {}
.modal-checklist-btn {}
.modal-datetime-btn {}
.modal-actions-block {}
.modal-actions-title {}

.modal-delete-btn {}

/* Settings modal */
.settings-modal {
  position: absolute;
  left: 1.5px;
  bottom: -185px;
}
.settings-modal .modal-container {
  background-color: #fff;
  width: 240px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 3px;
}
.settings-modal .modal-header {}
.settings-modal .modal-title {
  margin: 0;
  padding: 9px 8px 9px 52px;
  font-weight: normal;
  font-size: 14px;
}
.settings-modal .modal-close {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s;
}
.settings-modal .modal-close:hover {
  background-color: rgb(235, 233, 233);
}
.settings-modal .modal-body {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.settings-modal button {
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  background-color: #fff;
  text-align: left;
  color: #172b4d;
}
.settings-modal button:hover {
  background-color: rgb(235, 233, 233);
}


.mark-modal {}



/* TODO:
* card modal styles +
* settings modal styles +
* marks modal styles
* checklists modal styles
* expiration modal styles
* move modal styles
* copy modal styles
*/
